
* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #444;
  }
  
  .container {
    width: 100%;
    max-width: 1160px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .site-header {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .site-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
  }
  
  .site-logo-site-footer {
    color: #fff;
  }
  
  
  .site-logo-img {
    margin-right: 16px;
    border-radius: 50%;
  }
  
  
  .sitenav {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .sitenav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sitenav-item:not(:last-child) {
    margin-right: 32px;
  }
  
  .sitenav-link {
    display: block;
    color: #222;
    text-decoration: none;
  }
  
  .sitenav-site-footer .sitenav-link {
    color: #fff;
  }
  
  .main-link {
    display: inline-block;
    padding: 10px 22px;
    border: 2px solid #de2e54;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
    letter-spacing: 2px;
    background-color: #de2e54;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  }
  
  .main-link-outline {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }
  .menu-button{
    display: none;
    background-color:#fff;
    color:#ccc;
    border:2px solid #222;
    padding: 5px 10px;
  }
  
  .hero {
    background-color: #0eb4c1;
    color: #fff;
  }
  
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  
  .hero-content {
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .hero-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
    font-size: 36px;
    line-height: 1.2;
  }
  
  .hero-text {
    width: 440px;
    margin-top: 0;
    margin-bottom: 36px;
  }
  
  .hero-img {
    align-self: flex-end;
  }
  
  
  .index-services {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .index-services-heading {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 36px;
    line-height: 1.2;
    font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
    color: #000;
    text-align: center;
  }
  
  .index-services-list {
    /* width: 864px; */
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    list-style: none;
  }
  
  .index-services-item:not(:last-child) {
    margin-bottom: 80px;
  }
  
  .index-service {
    display: flex;
    align-items: center;
  }
  
  .index-service-img {
    width: 200px;
    height: 200px;
    margin-right: 64px;
    border-radius: 24px;
    object-fit: cover;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  }
  
  .index-service-content {
    width: 600px;
  }
  
  .index-service-title {
    margin-top: 0;
    margin-bottom: 24px;
    color: #222;
  }
  
  .index-service-description {
    margin: 0;
  }
  
  .index-services-actions {
    display: flex;
    justify-content: center;
  }
  
  .cta {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #0eb4c1;
    color: #fff;
  }
  
  .cta-heading {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.2;
    font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
    text-align: center;
  }
  
  .cta-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cta-links-item:not(:last-child) {
    margin-right: 40px;
  }
  
  
  .site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
    color: #fff;
  }
  
  .site-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  @media only screen and (max-width:1160px) {
    .sitenav-list{
      padding-left: 30px;
      margin-right: 30px;
    }
    .site-logo{
      margin-right: 30px;
    }
    .site-logo-site-footer{
      /* width: 15%; */
      margin-right: 30px;
    }
    .main-link{
      margin-right: 30px;
    }
  }
  @media only screen and (max-width:988px) {
    .menu-button{
      display: block;
    }
    .sitenav-header{
      display: none;
    }
    .site-header--open .sitenav-header{
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color:#ededed;
    }
    .sitenav-header__list{
      flex-direction: column;
      align-items: start;
      
    }
    .sitenav-header__link{
      margin-bottom: 15px;
    }

  }
  @media only screen and (max-width:950px) {
      .hero-img{
        width:350px ;
        height: 450px;     
  }
  }
  
  @media only screen and (max-width:830px) {
    .hero-container{
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .hero-img{
      display: none;
    }
    .hero-content{
      width: auto;
    }
    .hero-text{
      width: auto;
    }
    
  }

  @media only screen and (max-width:790px) {

  .site-footer-container{
    flex-direction: column;
    align-items: start;
  }
  .site-logo-site-footer{
    margin-right: 0;
    margin-bottom: 20px;
  }
  }
  @media only screen and (max-width:690px) {

    .index-service{
      flex-direction: column;
      align-items: center ;
    }
    .index-service-content{
      width: auto;
      align-items: center;
      text-align: center;
    }
    .index-service-img{
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media only screen and (max-width:600px) {
    .sitenav-list{
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
    .sitenav-link {
      margin-bottom: 20px;
    }

  }
  @media only screen and (max-width:555px) {
    .main-link{
      padding: 7px 11px;
      font-size:11px;
      letter-spacing:0 ;
    }
  }
  @media only screen and (max-width:500px) {
    .cta-links{
      flex-direction: column;
      align-items: center;
    }
    .cta-links-item:not(:last-child){
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  @media only screen and (max-width:500px) {
    .site-header{
      padding-bottom: 0;
    }
    .site-header-container{
      flex-direction: column;
      align-items: start;
    }
    .main-link{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
